.carousel-wrapper{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    
}

.carousel-title{
    height: 20vh;
    display: flex;
    background:red;
    color:rgb(255, 255, 255);
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.carousel-title h1{
    font-size: 4rem;
    font-family: "Superset";
    letter-spacing: .1rem;
}


canvas{
    animation: fade-in 5s ease 1s forwards;
    height: 100%;


}